<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Appointments</title>
</head>

<body>
    <header class="mb-4 pt-4 pb-4">
        <h1>Appointments</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Appointments.html" class="active">Appointments</a></li>
            <li><a href="Activities.html">Activities</a></li>
            <li><a href="Medications.html">Medications</a></li>
        </ul>
    </nav>
    <main>
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Provider</th>
                            <th>Purpose</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!--Dynamic Data Goes Here-->
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto">
                <div class="card">
                    <div class="card-header" style="background-color: #8b0000; color: white;">
                        Add Appointment
                    </div>
                    <div class="card-body" style="background-color: #ff6666; color:white;">
                        <form id="addAppForm" method="get">
                            <div class="mb-3">
                                <label for="appointmentDate" class="form-label">Date:</label>
                                <input type="date" class="form-control" name="app_date" id="appointmentDate">
                            </div>
                            <div class="mb-3">
                                <label for="medTitle" class="form-label">Medical Title: </label>
                                <input type="text" class="form-control" name="medical_title" id="medTitle"
                                    placeholder="Dentist, Pediatrician, etc...">
                            </div>
                            <div class="mb-3">
                                <label for="medicalProfessional" class="form-label">Provider Name:</label>
                                <input type="text" class="form-control" name="provider_name" id="medicalProfessional"
                                    placeholder="Name of Physician">
                            </div>
                            <div class="mb-3">
                                <label for="appointmentPurpose" class="form-label">Purpose: </label>
                                <input type="text" class="form-control" name="purpose" id="appointmentPurpose"
                                    placeholder="Checkup, Vaccination, etc...">
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Phone number:</label>
                                <input type="tel" class="form-control" name="phone_number" id="phoneNumber"
                                    placeholder="Number for the Provider">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" name="provider_email" id="email"
                                    placeholder="Email for the Provider, if Applicable">
                            </div>
                            <button id="userSubmit" class="btn" type="submit"
                                style="background-color: #8b0000; color: white;">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>
<footer><a href="contactus.html">Contact Us</a></footer>
<script src="../js/main.js"></script>
<script src="../js/appointments/addAppointment.js"></script>
<script src="../js/appointments/getUserApps.js"></script>


</html>