<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- FullCalendar Core -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <title>Appointments: </title>
</head>

<body>
    <header>
        <h1>Appointments</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Appointments.html" class="active">Appointments</a></li>
            <li><a href="Activities.html">Activities</a></li>
            <li><a href="Medications.html">Medications</a></li>
            <button id="logoutBtn">Log Out</button>
        </ul>
    </nav>
    <main>
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <div id="calendar" class="mb-5">
                    <!-- Dynamic Data Goes Here -->
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto">
                <div class="card">
                    <div class="card-header" style="background-color: #8b0000; color: white;">
                        Add Appointment
                    </div>
                    <div class="card-body" style="background-color: #ff6666; color:white;">
                        <form id="addAppForm" method="get">
                            <div class="mb-3">
                                <label for="appointmentDate" class="form-label">Date:</label>
                                <input type="date" class="form-control" name="app_date" id="appointmentDate">
                            </div>
                            <div class="mb-3">
                                <label for="appointmentTime" class="form-label">Time:</label>
                                <input type="time" class="form-control" name="app_time" id="appointmentTime">
                            </div>
                            <div class="mb-3">
                                <label for="medTitle" class="form-label">Medical Title: </label>
                                <input type="text" class="form-control" name="medical_title" id="medTitle"
                                    placeholder="Dentist, Pediatrician, etc...">
                            </div>
                            <div class="mb-3">
                                <label for="medicalProfessional" class="form-label">Provider Name:</label>
                                <input type="text" class="form-control" name="provider_name" id="medicalProfessional"
                                    placeholder="Name of Physician">
                            </div>
                            <div class="mb-3">
                                <label for="appointmentPurpose" class="form-label">Purpose: </label>
                                <input type="text" class="form-control" name="purpose" id="appointmentPurpose"
                                    placeholder="Checkup, Vaccination, etc...">
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Phone number:</label>
                                <input type="tel" class="form-control" name="phone_number" id="phoneNumber"
                                    placeholder="Number for the Provider">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" name="provider_email" id="email"
                                    placeholder="Email for the Provider, if Applicable">
                            </div>
                            <button id="userSubmit" class="btn" type="submit"
                                style="background-color: #8b0000; color: white;">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal for displaying event details -->
    <div class="modal" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Appointment Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Date:</strong> <span id="eventDate"></span></p>
                    <p><strong>Time:</strong> <span id="eventTime"></span></p>
                    <p><strong>Medical Title:</strong> <span id="eventTitle"></span></p>
                    <p><strong>Provider Name:</strong> <span id="eventProvider"></span></p>
                    <p><strong>Purpose:</strong> <span id="eventPurpose"></span></p>
                    <p><strong>Phone Number:</strong> <span id="eventPhone"></span></p>
                    <p><strong>Email:</strong> <span id="eventEmail"></span></p>
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn" style="background-color: #8b0000; color: white;" id="editAppBtn">
                        Edit Appointment
                    </button>
                    <button id="deleteAppBtn" class="btn btn-danger">Delete Appointment</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade pt-5" id="appEditModal" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog" style="background-color: #ff6666; color:white;">
            <form class="modal-content" id="appEditForm">
                <div class="modal-header" style="background-color: #8b0000; color: white;">
                    <h5 class="modal-title">Edit Appointment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #ff6666; color:white;">
                    <input type="hidden" id="editId">
                    <div class="mb-3">
                        <label for="editDate" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="editDate" name="app_date" required>
                    </div>
                    <div class="mb-3">
                        <label for="editTime" class="form-label">Time:</label>
                        <input type="time" class="form-control" id="editTime" name="app_time" required>
                    </div>
                    <div class="mb-3">
                        <label for="editMedical_Title" class="form-label">Medical Title:</label>
                        <input type="text" class="form-control" id="editMedical_Title" name="medical_title">
                    </div>
                    <div class="mb-3">
                        <label for="editProvider" class="form-label">Provider:</label>
                        <input type="text" class="form-control" id="editProvider" name="provider_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPurpose" class="form-label">Purpose:</label>
                        <input type="text" class="form-control" id="editPurpose" name="purpose" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPhone" class="form-label">Phone Number:</label>
                        <input type="text" class="form-control" id="editPhone" name="phone_number" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="editEmail" name="provider_email" required>
                    </div>
                </div>
                <div class="modal-footer mx-auto">
                    <button type="submit" class="btn" style="background-color: #8b0000; color: white;">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</body>
<footer><a href="contactus.html">Contact Us</a></footer>

<script src="../js/main.js"></script>
<script src= "../js/displayUser.js"></script>
<script src="../js/appointments/addAppointment.js"></script>
<script src="../js/appointments/getUserApps.js"></script>
<script src="../js/logout.js"></script>
<script src="../js/appointments/deleteAppointment.js"></script>
<script src="../js/appointments/updateAppointment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



</html>