<!-- written by: Isaac Nevarez-Saenz
tested by: Isaac Nevarez-Saenz
debugged by: Isaac Nevarez-Saenz -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Medications: </title>
</head>

<body>
    <header>
        <h1>Medications</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Appointments.html">Appointments</a></li>
            <li><a href="Activities.html">Activities</a></li>
            <li><a href="Medications.html" class="active">Medications</a></li>
            <button id="logoutBtn">Log Out</button>
        </ul>
    </nav>
    <main>
        <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
                <table class="table table-striped table-hover">
                    <thead >
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Prescriber</th>
                            <th>Medication</th>
                            <th>Quantity</th>
                            <th>Units</th>
                            <th>Frequency</th>
                            <th>Side Effects</th>
                            <th>Delete/Edit</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!--Dynamic Data Goes Here-->
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto">                
                <div class="card">
                    <div class="card-header" style="background-color: #8b0000; color: white;">
                        Add Medication
                    </div>
                    <div class="card-body" style="background-color: #ff6666; color:white;">

                        <form id="addMedForm" method="post">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Start Date:</label>
                                <input type="date" class="form-control" name="start_date" id="startDate">
                            </div>
                            <div class="mb-3">
                                <label for="endDate" class="form-label">End Date:</label>
                                <input type="date" class="form-control" name="end_date" id="endDate">
                            </div>
                            <div class="mb-3">
                                <label for="prescriber" class="form-label">Prescriber:</label>
                                <input type="text" class="form-control" name="prescriber" id="Prescriber"
                                    placeholder="Who Prescribed The Medication">
                            </div>
                            <div class="mb-3">
                                <label for="medication" class="form-label">Medication:</label>
                                <input type="text" class="form-control" name="med_name" id="medication"
                                    placeholder="Medication Name">
                            </div>
                            <div class="mb-3">
                                <label for="quantity" class="form-label">Quantity:</label>
                                <input type="text" class="form-control" name="quantity" id="quantity"
                                    placeholder="Number of Pills">
                            </div>
                            <div class="mb-3">
                                <label for="units" class="form-label">Units:</label>
                                <input type="text" class="form-control" name="units" id="units"
                                    placeholder="10 mg, 100 mcg, etc...">
                            </div>
                            <div class="mb-3">
                                <label for="frequency" class="form-label">Frequency:</label>
                                <input type="text" class="form-control" name="frequency" id="frequency"
                                    placeholder="How Often You Take the Medication">
                            </div>
                            <div class="mb-3">
                                <label for="sideEffects" class="form-label">Side Effects:</label>
                                <textarea name="comments" class="form-control" id="sideEffects"
                                    placeholder="Dizziness, Headaches, etc..."></textarea>
                            </div>
                            <button id="userSubmit" class="btn" type="submit"
                                style="background-color: #8b0000; color: white;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>



                    <!-- Edit Modal -->
        <div class="modal fade pt-5" id="editModal" tabindex="-1" aria-hidden="true" >
            <div class="modal-dialog" style="background-color: #ff6666; color:white;">
                <form class="modal-content" id="editForm">
                    <div class="modal-header" style="background-color: #8b0000; color: white;">
                        <h5 class="modal-title">Edit Activity</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="background-color: #ff6666; color:white;">
                        <input type="hidden" id="editId">
                        <div class="mb-3">
                            <label for="editStart_Date" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="editStart_Date" name="start_date" required>
                        </div>
                        <div class="mb-3">
                            <label for="editEnd_Date" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="editEnd_Date" name="end_date">
                        </div>
                        <div class="mb-3">
                            <label for="editPresc" class="form-label">Prescriber</label>
                            <input type="text" class="form-control" id="editPresc" name="prescriber" required>
                        </div>
                        <div class="mb-3">
                            <label for="editMed" class="form-label">Medication</label>
                            <input type="text" class="form-control" id="editMed" name="med_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="editQuantity" class="form-label">Quantity</label>
                            <input type="text" class="form-control" id="editQuantity" name="quantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="editUnits" class="form-label">Units</label>
                            <input type="text" class="form-control" id="editUnits" name="units" required>
                        </div>
                        <div class="mb-3">
                            <label for="editFrequency" class="form-label">Frequency</label>
                            <input type="text" class="form-control" id="editFrequency" name="frequency" required>
                        </div>
                        <div class="mb-3">
                            <label for="editComments" class="form-label">Side Effects</label>
                            <input type="text" class="form-control" id="editComments" name="comments" required>
                        </div>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="submit" class="btn" style="background-color: #8b0000; color: white;">Save changes</button>
                    </div>
                </form>
            </div>
        </div>

    </main>

    <footer><a href="contactus.html">Contact Us</a></footer>

</body>
<script src="../js/main.js"></script>
<script src= "../js/displayUser.js"></script>
<script src="../js/logout.js"></script>
<script src="../js/medications/addMedication.js"></script>
<script src="../js/medications/getUserMed.js"></script>
<script src="../js/medications/deleteMedication.js"></script>
<script src="../js/medications/updateMedication.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>