<!DOCTYPE html>
<html class="indexHtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHER Provider: </title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Personal Health Electronic Record</h1>
        </header>
        <nav>
            <ul>
                <li><a href="providerDashboard.html" class="active">Home</a></li>
                <button id="logoutBtn" style="display: none;">Log Out</button>
            </ul>
        </nav>
        <main>
            <h2>Provider Dashboard: <span id = "fullName"></span></h2>
            <div class="row">
                <div class="col-md-4 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-header" style="background-color: #8b0000; color: white;">
                            Request Patient Record
                        </div>
                        <div class="card-body" style="background-color: #ff6666; color:white;">
                            <form id="recordRequest">
                                <div class="mb-3">
                                    <label for="selectPatient" class="form-label">Records</label>
                                    <select class="form-select" name="patient_id" id="selectPatient">
                                    </select>
                                </div>
                                <button type="submit" class="btn"
                                    style="background-color: #8b0000; color: white;">Request</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-header" style="background-color: #8b0000; color: white;">
                            Pending Requests
                        </div>
                        <div class="card-body" style="background-color: #ff6666; color:white;">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Request Status</th>
                                        <th>Cancel Request</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <!--Dynamic Data Goes Here-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header" style="background-color: #8b0000; color: white;">
                            Actively Sharing
                        </div>
                        <div class="card-body" style="background-color: #ff6666; color:white;">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>View Patient Record</th>
                                        <th>Close Request</th>
                                    </tr>
                                </thead>
                                <tbody id="acceptedBody">
                                    <!--Dynamic Data Goes Here-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- The Modal -->
        <div class="modal modal-xl mt-5" id="patientModal">
            <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100" id="modalHeader"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <nav>
                        <ul id="modalList">
                            <!--Dynamic Data Goes Here-->
                        </ul>
                    </nav>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mx-auto" id="tableRow">
                            <table class="table table-striped table-hover mt-2">
                                <thead>
                                    <tr id="tableHeaders">
                                    <!--Dynamic Data Goes Here-->
                                    </tr>
                                </thead>
                                <tbody id="mtBody">
                                    <!--Dynamic Data Goes Here-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
        
            </div>
            </div>
        </div>


        <footer><a href="contactus.html">Contact Us</a></footer>
    </div>

    <!-- <script src="../js/providerSearch.js"></script> -->
    <script src="../js/main.js"></script>
    <script src= "../js/displayUser.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/requests/provider/getMedications.js"></script>
    <script src="../js/requests/provider/getAppointments.js"></script>
    <script src="../js/requests/provider/getActivities.js"></script>
    <script src="../js/requests/provider/getPatients.js"></script>
    <script src="../js/requests/provider/requestRecord.js"></script>
    <script src="../js/requests/provider/activeRequest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>