<!DOCTYPE html>
<html class="indexHtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHER Provider Dashboard</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/main.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Personal Health Electronic Record</h1>
        </header>  
        <main>
            <h2>Provider Dashboard</h2>
            <div>
                <div>
                    <div>
                        <input type="text" class="form-control" name = "patientSearch" id = "patientSearch" placeholder="Search patients">
                    </div>

                    <div class="col-md-4 col-sm-12 mx-auto">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                </tr>
                            </thead>
                            <tbody id="patientTableBody">
                                <!--Dynamic Data Goes Here-->
                            </tbody>
                        </table>
                    </div>

                    <p id = "noPatientMsg">No patients yet.</p>        
                </div>
            </div>
        </main>
        <footer><a href="contactus.html">Contact Us</a></footer>
    </div>

    <script src="../js/providerSearch.js"></script>
</body>
</html>