
    body{    
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #ffcccc; 
        color: white; 
        }

    #wrapper{
        width: 98%;
        margin: auto;
        background: #ff6666;
        padding: 10px;
        border-radius: 5px;
    }

    header {
        background-color: #8b0000; 
        color: white;
        padding: 15px;
        border-radius: 5px;
    }

@media (min-width: 375px){


    nav ul { 
        list-style-type: none;
        margin: 10px;
        padding-left: 0;
        font-size: 1.7em; 
    }
    nav li { 
        background: #8b0000;
        border-bottom: 3px solid #eb4d55; }
    nav a:link { color: white; }
    nav a:visited {color: gray; }
    nav a:hover { color: white;
                    background: gray }


    footer{
        margin-top: 10px;
        padding: 10px;
        background: #8b0000;
        color: white;
        border-radius: 5px;
    }
}

