
    body{    
        font-family: Arial, sans-serif !important;
        text-align: center !important;
        background-color: #ffcccc !important; 
        color: white !important;
        margin-top: 0.5rem !important;
        margin-left: 0.5rem !important; 
        margin-right: 0.5rem !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .indexHtml{
        height: auto !important;
    }

    html, body{
        height: 100% !important;
    }
    
    main{
        flex:1 !important;
        margin-bottom: 1rem !important;
    }

    #wrapper{
        width: 98%;
        margin: auto;
        background: #ff6666;
        padding: 10px;
        border-radius: 5px;
    }

    header {
        background-color: #8b0000 !important; 
        color: white !important;
        padding: 15px !important;
        border-radius: 5px !important;
    }

    form {
        color: black;
        display: grid;
        gap: 10px; 
    }
    
    .label-input {
        display: flex;
    }
    
    label {
        min-width: 100px; 
        text-align: left;
    }
    
    input {
        width: 100%;
    }

    .active{
        color:white !important;
    }

    .form-label{
        text-align: center;
    }

@media (min-width: 375px){


    nav ul { 
        list-style-type: none;
        padding-left: 0;
        font-size: 1.7em; 
    }
    nav li { 
        background: #8b0000;
        border-bottom: 3px solid #eb4d55; 
    }
    nav a:link { color: white; }
    nav a:visited {color: gray; }
    nav a:hover { color: white;
                    background: #8b0000; }


    footer{
        margin-top: 10px;
        padding: 10px;
        background: #8b0000;
        color: white;
        border-radius: 5px;
    }

    footer a:link { color: white; }
    footer a:visited {color: gray; }
    footer a:hover { color: white;
                    background: gray }
}

